
* {
	box-sizing: border-box;
	text-align: center;
	font-size: 18px;
	font-family: 'Arial';
}

body {
	background-color: #777;
	/*page font color*/
	color: #777;
}

.container {
	width: 960px;
	/*make center*/
	margin: 0px auto;
}

header {
	padding: 40px;
	margin-bottom: 10px;
	background: #ebebeb;
}

nav {
	padding: 40px;
	margin-bottom: 20px;
	background: #ebebeb;
}

/*=========================================
		Section Relative Position
==========================================*/
.relative {
	position: relative;
	width: 495px;
	height: 285px;
	padding: 40px;
	background: #ebebeb;
	margin-bottom: 20px;
	/*float ,same div with aside */
	float: left;
}

/*=========================================
Section Absolute Position For article,h1,p
==========================================*/
.absolute {
	position: absolute;
	width: 475px;
	height: 185px;
	background: #777;
	top: 90px;
	left: 10px;
	padding: 15px;
	color: #ebebeb;
}

h1 {
	width: 440px;
	height: 50px;
	background: #ebebeb;
	left: 45px;
	top: 140px;
	font-size: 18px;
	color: #777;
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-family: 'Helvetica Neue';
}

p {
	width: 440px;
	height: 50px;
	background: #ebebeb;
	left: 45px;
	color: #777;
	padding: 15px 20px;
	margin: auto;
	font-family: 'Helvetica';

}

aside {
	width: 445px;
	height: 285px;
	padding: 40px;
	background: #ebebeb;
	/*float ,same div with section */
	float: right;
	font-family: 'sans-serif';

}
/*=============================
			Footer
=============================*/
.clear {
	width: 960px;
	padding: 40px;
	margin: 100px auto;
	background: #ebebeb;
	clear: both;
	font-family: 'sans-serif';
}